* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Section */
nav {
	width: 85%;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 8vh;
}

.nav-logo h1 a {
	font-size: 32px;
	height: auto;
	padding: 0 10px;
    color: red;
    text-decoration: none;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
    list-style: none;
}

.nav-links a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
}

.nav-links .nav-button {
	background-color: red;
  color: #fff;
	padding: 6px 16px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
}

.nav-links .nav-button:hover {
	background-color: #000;
	color: #fff;	
}
/* End of navbar section */

/* Card */
*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #333333;
  letter-spacing: 0.01rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: whitesmoke;
}
.container {
  max-width: 80rem;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3rem 0;
}
.container > img {
  height: 3rem;
  width: 23rem;
  filter: brightness(120%);
}
.flex-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  width: 100%;
}
.card-box {
  display: flex;
  flex-flow: column;
  width: 36.3rem;
  background-color: white;
  font-size: 0.92rem;
  box-shadow: 0px 3px 4px gray;
}
.card-img {
  height: 23rem;
}
.card-data,
.card-title,
.card-description {
  padding: 0 1.5rem;
}
.card-data {
  padding-top: 2rem;
  padding-bottom: 1.3rem;
  width: 100%;
  font-size: 1rem;
}
.card-data p {
  display: inline-block;
}
.text-right {
  margin-left: 9rem;
  margin-right: 2rem;
}
.price {
  font-weight: bold;
}
.card-title {
  margin: 0;
  padding-bottom: 1.3rem;
}
.card-description {
  font-size: 1.15rem;
  line-height: 1.7rem;
  padding-bottom: 2rem;
}

.card-btn button {
	margin-top: 30px;
	width: 95%;
	margin: 2vh;
	border: 2px solid red;
	border-radius: 5px;
	height: 36px;
	background-color: red;
	stroke: none;
	cursor: pointer;
	transition-duration: 0.4s;
}

.card-btn button:hover{
	background-color: white;
	color: red;

}

.card-btn button a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
}
.card-btn button a:hover{
	color: red;
}


@media all and (max-width: 1200px) {
  .card-box {
    width: 30rem;
  }
  .container {
    padding: 1%;
  }
  .card-data {
    display: flex;
    justify-content: space-between;
  }
  .text-right {
    margin: 0;
  }
  .card-img {
    height: 20rem;
  }
}
@media all and (max-width: 1000px) {
  .flex-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .card-box {
    width: 100%;
  }
  .card-img {
    height: 27rem;
  }
}
@media all and (max-width: 550px) {
  .card-img {
    height: 20rem;
  }
  .data-text {
    font-size: 0.85rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-description {
    font-size: 1rem;
  }
}
